@import 'vars';

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
}

// ≥992px
@include media-breakpoint-down(md) {
}

// ≥768px
@include media-breakpoint-down(sm) {
	.advantages {
		.advantages__item {
			padding: 20px;
			.advantages__title {
				font-size: 24px;
			}
		}
	}
	.about {
		.about__title {
			font-size: 32px;
		}
	}
}

// ≥576px
@include media-breakpoint-down(xs) {
	.about {
		.digits {
			display: none;
			&::before {
				background-image: none;
				background: none;
			}
		}
	}

	.advantages {
		.advantages__item {
			max-width: 290px;
			padding: 20px;
			.advantages__title {
				font-size: 20px;
			}
		}
	}

	.about {
		.about__title {
			font-size: 28px;
		}
	}
}

/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(xs) {
}

// ≤768px
@include media-breakpoint-up(sm) {
}

// ≤992px
@include media-breakpoint-up(md) {
}

// ≤1200px
@include media-breakpoint-up(lg) {
}
